<footer class="footer mt-auto py-3 text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</footer>
